{% include "../base.html" %}

{% block body %}
<div class="container">
    <h2>Pre-Built Templates</h2>
    {% if decision_templates %}
        <ul>
            {% for template in decision_templates %}
                <li>
                    <a href="{% url 'decisions:preview' template.id %}" >{{ template }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            There do not appear to be any templates yet...
        </p>
    {% endif %}
</div>

{% endblock %}
