{% load static %}

<html>

    <head>
        <title>{% block title %} GLOBAL {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap.css.map' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap.min.css.map' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap-theme.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap-theme.css.map' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/bootstrap/css/bootstrap-theme.min.css.map' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'decisions/css/my-style.css' %}" />

    </head>

    <body>
        <div class="jumbotron m5">
            <div class="container text-center">
                <h2>Welcome to Weigh-Your-Options!!!</h2>
                <p>
                    Need help making an important decision? Use one of these pre-built decision templates
                    or build your own! Each prompt can be customized to fit your preferences and reused.
                </p>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>

</html>